.part {
    height: 88.5vh;
    width: 100vw;
    background-color: ghostwhite;
    border: 1px solid black;
}

.part-header {
    padding: 15px;
    font-size: larger;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: whitesmoke;
}