.content {
    line-height: 2;
    padding: 10px 20px;
}

.box-header {
    // position: sticky;
    position: --webkit-sticky;
    top: 0;    
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #333;
    color: white;
    justify-content: space-between;
}
.scroll-design{
    max-height: 300px;
    overflow-y: auto;
}
.box-header-left {
    display: flex;
    align-items: center;
}

.cus-name {
    font-size: 20px;
}

.box-content {
    padding: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cus-action {
    // position: sticky;
    position: --webkit-sticky;
    bottom: 0;
    float: right;
    display: flex;
    align-items: center;
}

.box-unorder {
    align-items: center;
    
}

.display-form{
    max-height: 50%;
    overflow: auto;
}